<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/songs/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <div id="form-container">
  <form 
  action="/songs" 
  method="POST"
  >
    <div class="inputs-container">
      <label for="name-input">Song</label>
      <input type="text" name="name" id="name-input" placeholder="Name of the song" required>
    </div>

    <div class="inputs-container">
      <label for="artist-input">Artist</label>
      <input type="text" name="artist" id="artist-input" placeholder="Name of the artist" required>
    </div>

    <div class="inputs-container">
      <label for="year-input">Release Year</label>
      <input type="number" name="releaseYear" id="year-input" min=1700 required>
    </div>

    <div class="inputs-container">
      <label for="theirRating-input">Your Rating</label>
      <input type="number" name="theirRating" id="theirRating-input" min=1 max=10 required placeholder="1-10">
    </div>

    <div class="inputs-container">
      <button type="submit" id="add-button">Add Song</button>
    </div>
  </form>
  </div>


</main>

<%- include('../partials/footer') %>