h1 {
  font-size: 36px;
}

table {
  font-size: 20px;
  color: #E2DFD2;
  font-weight: bolder;
}
thead {
  font-size: 26px;
}

table thead th {
  padding: 5px;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  color: goldenrod ;
}

table td {
  padding: 25px 0 25px 0;
}

#details-button {
  background-color: #230c33;
  border-radius: 8px;
  border-style: ridge;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}

#details-button:hover {
  background-color: rgba(218, 165, 32, 0.745);
}

#rating-holder {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: none;
  color: #E2DFD2;
  font-size: 20px;
  font-weight: bold;
  background-color: #592e83;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  border-top: 3px solid #592e83;
}

#songs-list {
  background-color: #592e83;
  border-radius: 8px;
  padding: 8px;
  border-bottom: 4px solid rgba(218, 165, 32, 0.745);
  border-top: 4px solid rgba(218, 165, 32, 0.745);
}
