h1 {
  font-size: 36px;
}

table {
  font-size: 20px;
  color: #E2DFD2;
}
thead {
  font-size: 26px;
  font-weight: bolder;
}

table thead th {
  padding: 5px;
  border-bottom: 3px solid #592e83;
}

table td {
  padding: 10px;
  text-align: center;
}

#details-button {
  background-color: #9984d4;
  border-radius: 8px;
  border-style: ridge;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}

#details-button:hover {
  background-color: #230c33;
}
