h1 {
  margin-top: 40px;
}
#song-details {
  margin: 10px 0 30px 0;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  color: #E2DFD2;
  font-weight: bold;
}

.details-title {
  color: rgba(218, 165, 32, 0.85);
  display: flex;
  justify-content: right;
  margin: 0 8px 0 0;
}

button {
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

#edit-button, #delete-button {
  margin: 0 8px 0 8px;
  background-color: #9984d4;
  border-color: #592e83;
  border-style: solid;
  color: #230c33;
  font-weight: bold;
}
#edit-button:hover {
  background-color: #FF5733;
}
#delete-button:hover {
  background-color: #AD1B18;
}

#author-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}



#review-form-container {
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  align-items: center;
}

div#review-form-container label {
  font-weight: bold;
  font-size: 20px;
}

div#review-form-container input {
  font-size: 16px;
  background-color: #E2DFD2 ;
  border-radius: 6px;
  padding: 4px;
  height: 30px;
  border: none;
  margin-right: 12px;
}

div#review-form-container input::placeholder {
  color: #3f3649ab;
  text-align: center
}

div#review-form-container button {
  font-size: 16px;
  border-radius: 8px;
  border-color: rgba(218, 165, 32, 0.745);
  border-style: solid;
  background-color: #9984d4 ;
  color: #230c33;
  font-weight: bold;
  padding: 7px;
}

div#review-form-container button:hover {
  background-color: rgba(218, 165, 32, 0.745);
  color: #230c33;
}



#reviews-table {
  font-size: 20px;
  color: #E2DFD2;
  margin-bottom: 50px;
}
table#reviews-table thead {
  font-size: 26px;
  font-weight: bolder;
}

table#reviews-table thead th {
  padding: 5px;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  color: #caa8f5 ;
  
}

table#reviews-table td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

#review-comment, #comment-title, #by-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 500px;
  text-align: left;
}
