h1 {
  margin-top: 40px;
}
#song-details {
  margin: 10px 0 0px 0;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 16px 10px 16px;
  border-bottom: 4px solid rgba(218, 165, 32, 0.745);
  color: #E2DFD2;
  font-weight: bold;
  background-color: #592e83;
  border-radius: 8px;
}

.details-title {
  color: rgba(218, 165, 32, 1);
  display: flex;
  justify-content: right;
  margin: 0 8px 0 0;
}

button {
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

#edit-button, #delete-button {
  margin: 0 8px 0 8px;
  background-color: #592e83;
  border-color: rgba(218, 165, 32, 0.745);
  border-style: solid;
  color: #E2DFD2;
  font-weight: bold;
  padding: 8px;
  border-left: none;
  border-style: none;
  border-top: 2px solid rgba(218, 165, 32, 0.745);
  border-bottom: 2px solid rgba(218, 165, 32, 0.745) ;
}
#edit-button:hover {
  background-color: #FF5733;
}
#delete-button:hover {
  background-color: #AD1B18;
}

#author-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}


#reviews-h1 {
  margin-top: 150px;
}

#review-form-container {
  margin: 20px 0 60px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  align-items: center;
  background-color: #592e83;
  padding: 8px 16px;
  border-radius: 8px;
  border-left: 3px solid rgba(218, 165, 32, 0.745);
  border-right: 3px solid rgba(218, 165, 32, 0.745);
}

div#review-form-container label {
  font-weight: bold;
  font-size: 20px;
}

div#review-form-container input {
  font-size: 16px;
  background-color: #E2DFD2 ;
  border-radius: 6px;
  padding: 4px;
  height: 33px;
  border: none;
  margin-right: 12px;
}

div#review-form-container input::placeholder {
  color: #3f3649ab;
  text-align: center
}

div#review-form-container button {
  font-size: 16px;
  border-radius: 8px;
  border-color: rgba(218, 165, 32, 0.745);
  border-style: ridge;
  background-color: #caa8f5 ;
  color: #230c33;
  font-weight: bold;
  padding: 7px;
  height: 33px;
}

div#review-form-container button:hover {
  background-color: rgba(218, 165, 32, 0.745);
  color: #230c33;
}



#reviews-table {
  font-size: 20px;
  color: #E2DFD2;
  margin-bottom: 50px;
  background-color: #592e83;
  border-radius: 8px;
  padding: 8px 16px;
  border-left: 3px solid rgba(218, 165, 32, 0.745);
  border-right: 3px solid rgba(218, 165, 32, 0.745);
    margin-bottom: 70px;
}
table#reviews-table thead {
  font-size: 26px;
  font-weight: bolder;
}

table#reviews-table thead th {
  padding: 5px;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  color: rgba(218, 165, 32, 1);
}

table#reviews-table td {
  padding: 20px 10px 1px 10px;
  font-size: 18px;
}

#review-comment, #author-td, #date-td, #separator-td {
  border-bottom: 2px solid #1a1a1a;
}

#review-comment, #comment-title, #by-title {
  min-width: 250px;
  max-width: 500px;
  text-align: left;
}

#delete-review-button {
  background-color: #230c33;
  border: none;
  border-left: 2px solid #AD1B18;
  border-right: 2px solid #AD1B18;
  color: #230c33;
  font-weight: bold;
  padding: 4px;
}

#delete-review-button:hover {
  background-color: #AD1B18;
  border-color: rgba(218, 165, 32, 0.745);
}

#rating-holder {
  width: 35px;
  height: 35px;
  border: none;
  color: #E2DFD2;
  font-size: 20px;
  font-weight: bold;
  background-color: #592e83;
  border-bottom: 3px solid rgba(218, 165, 32, 0.745);
  border-top: 3px solid #592e83;
}